<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error page</title>
  <link rel="stylesheet" href="/css/error.css">
  <link rel="icon" type="image/x-icon" href="#">
</head>
<body>
<div class="wrapper">
  <main>
    <div class="error-form">
      <div class="header">
        <img src="/images/logo.png" alt="logo">
      </div>
      <div class="content">
        <h2>{{error}}</h2>
        <p>{{error_description}}</p>
      </div>
    </div>
  </main>
</div>
</body>
</html>